/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.red {
  color: rgb(227, 94, 107);
}

.green {
  color: rgb(94, 227, 127);
}

.v-middle {
  vertical-align: middle;
}

.msg-success {
  background-color: rgb(94, 228, 89);
  color: #fff;
}

.msg-error {
  background-color: rgb(227, 94, 107);
  color: #fff;

}
